{% extends 'base.html' %}


{% block title %}PdfToText{% endblock title %}
{% block content %}
<div class="container my-3 ">

    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="target_file">Upload File</label>
          <input type="file" class="form-control-file" accept=".pdf,image/*" id="target_file" name="target_file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>
<br>
<div class="container my-3">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">sr.no</th>
            <th scope="col">File Name</th>
            <th scope="col">Link</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for data in textData %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{data.file_name}}</td>
                    <td><a href="{{data.file_link}}" target="_blank">View File</a></td>
                    <td><a href="{% url "text" pk=data.id%}" target="_blank">View Text</a></td>
                </tr>
           {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}